<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments :: head(title='Home Page', css='home')}"></head>
<body>

    <nav th:replace="fragments :: navbar"></nav>

    <div class="news-wrapper">
        <div id="news-list">
            <div th:each="news : ${recentNews.entrySet()}" class="news">
                <h4 th:text="${news.getKey()}"></h4>
                <a th:href="@{/news/{title}(title=${news.getKey()})}">Read article</a>
            </div>
        </div>
    </div>
    
</body>
</html>