.news-wrapper{
    width: 100%;
}
#news-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.news{
    border: 1.5px solid black;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 20px;
    width: 20%;
    flex-grow: 2;
}

.news h4{
    padding: 5px;
    margin-bottom: 15px;
    text-align: justify;
}

.news a{
    margin: 5px;
    margin-bottom: 15px;
    text-decoration: none;
    color: rgb(0 0 255);
    font-weight: bolder;
}
.news a:hover{
    color: rgba(0, 0, 255, 0.8);
}